@model List<string>

@using (Html.BeginForm("Upload", "Sessions", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" name="Submit" id="Submit" value="Upload" />
}

<h2>Downloads</h2>
<table> 
    <tr> 
    <th>File Name</th> 
    <th>Link</th> 
    </tr> 
    
    @for (var i = 0; i <= Model.Count - 1; i++)
    {
    <tr> 
       <td> 
          @Model[i].ToString() 
        </td> 
    <td> 
        
     @Html.ActionLink("Download", "UploadDocument", new { ImageName = @Model[i].ToString() }) 
        </td> 
    </tr> 
    } 
 </table> - See more at: http://rachelappel.com/upload-and-download-files-using-asp.net-mvc#sthash.8R9x8SyL.dpuf


